.project-image {
	width: 375px;
	height: 275px;
}

.facebook {
	width: 50px;
	height: 50px;
	fill: cornflowerblue;
}

.twitter {
	width: 50px;
	height: 50px;
	fill: cornflowerblue;
}

.instagram {
	width: 50px;
	height: 50px;
	fill: cornflowerblue;
}

.github {
	width: 50px;
	height: 50px;
	fill: cornflowerblue;
}

.linkedin {
	width: 50px;
	height: 50px;
	fill: cornflowerblue;
}

.email {
	width: 20px;
	height: 20px;
	fill: cornflowerblue;
}

.arrowup {
	width: 40px;
	height: 40px;
	fill: cornflowerblue;
}
