// Fonts

$heading-font: 'Lora', serif;
$body-font: 'Open Sans', sans-serif;

// Colors
$intro-text-color: rgba(201, 87, 22, 0.3);
$theme-color-primary: rgba(7, 7, 7, 0.801);
$theme-color-secondary: rgb(0, 0, 0);

@import './typography/text';
@import './icons/icons';
@import './banners/banners';
