h4,
p {
  font-family: "Open Sans", sans-serif;
}

h1,
h3,
h5 {
  font-family: "Lora", serif;
}

.intro-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/images/hero-image-austin.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.intro-heading {
  font-size: calc(1.5vw + 1.5vh + 2vmin);
  font-weight: 400;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.heading-fade {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.fade-end {
  opacity: 1;
}

.intro-subheading {
  font-size: calc(0.8vw + 0.8vh + 1vmin);
  font-weight: 400;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.about-header {
  font-weight: 400;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.about-bio {
  text-align: center;
  width: 75vw;
}

.work-header {
  font-weight: 400;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.work-text {
  width: 75vw;
}

.work-text,
.work-header {
  color: white;
}

.contact-heading {
  display: block;
  margin: 0 auto;
  width: 70vw;
}

.copyright {
  margin-top: 20px;
}

.backtotop {
  margin-top: 10px;
  margin-bottom: 10px;
}

.work-body {
  background: black;
}

.links {
  position: absolute;
  top: 10px;
  right: 150px;
}

.link-text {
  font-family: "Open Sans", sans-serif;
}

.link-text:hover {
  color: rgba(236, 236, 236, 0.8);
  border-bottom: 2px solid white;
}

.navbar-brand {
  font-family: "Open Sans", sans-serif;
}

.work-body {
  background: white;
}

.facebook {
  width: 50px;
  height: 50px;
  margin: 15px;
  fill: rgba(7, 7, 7, 0.801);
}

.twitter {
  width: 50px;
  height: 50px;
  margin: 15px;
  fill: rgba(7, 7, 7, 0.801);
}

.instagram {
  width: 50px;
  height: 50px;
  margin: 15px;
  fill: rgba(7, 7, 7, 0.801);
}

.github {
  width: 50px;
  height: 50px;
  margin: 15px;
  fill: rgba(7, 7, 7, 0.801);
}

.linkedin {
  width: 50px;
  height: 50px;
  margin: 15px;
  fill: rgba(7, 7, 7, 0.801);
}

.email {
  width: 40px;
  height: 40px;
  margin: 15px;
  fill: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.email:hover {
  fill: #cacaca;
  -webkit-transform: rotate(-15deg) scale(1.2);
          transform: rotate(-15deg) scale(1.2);
}

.email-container {
  margin-bottom: 30px;
}

.email-button {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 65px;
  padding-right: 65px;
  border: 2px solid white;
  border-radius: 5px;
}

.copyright {
  margin-top: 20px;
}

.arrowup {
  width: 40px;
  height: 40px;
  fill: rgba(7, 7, 7, 0.801);
  margin-left: 5px;
}

.backtotop {
  margin-top: 10px;
  margin-bottom: 10px;
}

.html {
  width: 30px;
  height: 30px;
  margin: 5px;
  fill: rgba(7, 7, 7, 0.801);
}

.css {
  width: 30px;
  height: 30px;
  margin: 5px;
  fill: rgba(7, 7, 7, 0.801);
}

.javascript {
  width: 30px;
  height: 30px;
  margin: 5px;
  fill: rgba(7, 7, 7, 0.801);
}

.sass {
  width: 30px;
  height: 30px;
  margin: 5px;
  fill: rgba(7, 7, 7, 0.801);
}

.icon:hover {
  fill: #636363;
}

.work-banner {
  background-color: black;
  padding: 25px;
  width: 100vw;
}

.about-banner {
  background-color: rgba(7, 7, 7, 0.801);
  padding: 25px;
  width: 100vw;
}

.contact-banner {
  background-color: rgba(7, 7, 7, 0.801);
  padding: 25px;
  width: 100vw;
}

.card {
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  -webkit-transform: translate(0px, -5px);
          transform: translate(0px, -5px);
  -webkit-box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 14px 22px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 14px 22px 0 rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=styles.css.map */