.facebook {
	width: 50px;
	height: 50px;
	margin: 15px;
	fill: $theme-color-primary;
}

.twitter {
	width: 50px;
	height: 50px;
	margin: 15px;
	fill: $theme-color-primary;
}

.instagram {
	width: 50px;
	height: 50px;
	margin: 15px;
	fill: $theme-color-primary;
}

.github {
	width: 50px;
	height: 50px;
	margin: 15px;
	fill: $theme-color-primary;
}

.linkedin {
	width: 50px;
	height: 50px;
	margin: 15px;
	fill: $theme-color-primary;
}

.email {
	width: 40px;
	height: 40px;
	margin: 15px;
	fill: white;
}

.arrowup {
	width: 40px;
	height: 40px;
	fill: $theme-color-primary;
	margin-left: 5px;
}

.email-container {
	margin-bottom: 30px;
}

.email-button {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 65px;
	padding-right: 65px;
	border: 2px solid white;
	border-radius: 5px;
}

.copyright {
	margin-top: 20px;
}

.backtotop {
	margin-top: 10px;
	margin-bottom: 10px;
}

.html {
	width: 30px;
	height: 30px;
	margin: 5px;
	fill: $theme-color-primary;
}

.css {
	width: 30px;
	height: 30px;
	margin: 5px;
	fill: $theme-color-primary;
}

.javascript {
	width: 30px;
	height: 30px;
	margin: 5px;
	fill: $theme-color-primary;
}

.sass {
	width: 30px;
	height: 30px;
	margin: 5px;
	fill: $theme-color-primary;
}
