.facebook {
	@include social-icon-size;
	fill: $theme-color-primary;
}

.twitter {
	@include social-icon-size;
	fill: $theme-color-primary;
}

.instagram {
	@include social-icon-size;
	fill: $theme-color-primary;
}

.github {
	@include social-icon-size;
	fill: $theme-color-primary;
}

.linkedin {
	@include social-icon-size;
	fill: $theme-color-primary;
}

.email {
	width: 40px;
	height: 40px;
	margin: 15px;
	fill: white;
	transition: all 0.5s ease-in-out;
	transform-origin: 50% 50%;
}

.email:hover {
	fill: rgb(202, 202, 202);
	transform: rotate(-15deg) scale(1.2);
}

.email-container {
	margin-bottom: 30px;
}

.email-button {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 65px;
	padding-right: 65px;
	border: 2px solid white;
	border-radius: 5px;
}

.copyright {
	margin-top: 20px;
}

.arrowup {
	width: 40px;
	height: 40px;
	fill: $theme-color-primary;
	margin-left: 5px;
}

.backtotop {
	margin-top: 10px;
	margin-bottom: 10px;
}

.html {
	@include dev-icon-size;
	fill: $theme-color-primary;
}

.css {
	@include dev-icon-size;
	fill: $theme-color-primary;
}

.javascript {
	@include dev-icon-size;
	fill: $theme-color-primary;
}

.sass {
	@include dev-icon-size;
	fill: $theme-color-primary;
}

.icon:hover {
	fill: rgb(99, 99, 99);
}

// Hover.css Transitions

.hvr-sweep-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 1 1 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $theme-color-primary;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
	color: white;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
