.work-banner {
	background-color: $theme-color-secondary;
	padding: 25px;
}

.about-banner {
	background-color: $theme-color-primary;
	padding: 25px;
}

.contact-banner {
	background-color: $theme-color-primary;
	padding: 25px;
}
