.work-banner {
	background-color: $theme-color-secondary;
	padding: 25px;
	width: 100vw;
}

.about-banner {
	background-color: $theme-color-primary;
	padding: 25px;
	width: 100vw;
}

.contact-banner {
	background-color: $theme-color-primary;
	padding: 25px;
	width: 100vw;
}
