h4,
p {
	font-family: $body-font;
}

h1,
h3,
h5 {
	font-family: $heading-font;
}

.intro-heading {
	font-size: calc(2vw + 2vh + 2vmin);
	font-weight: 400;
}

.intro-subheading {
	font-size: calc(0.6vw + 0.6vh + 1vmin);
	font-weight: 400;
}

.about-header {
	font-weight: 400;
	border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.about-bio {
	text-align: center;
	width: 75vw;
}

.work-header {
	font-weight: 400;
	border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.work-text,
.work-header {
	color: white;
}

.copyright {
	margin-top: 20px;
}

.backtotop {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav-button:hover {
	border-bottom: 1px solid $intro-text-color;
}

.intro-image {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(/images/94205DF6-ED6D-4A56-B590-01D50F58755C.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.work-body {
	background: $theme-color-secondary;
}

.links {
	position: absolute;
	top: 10px;
	right: 150px;
}

.link-text {
	color: white;
	padding: 10px;
	margin-top: 5px;
	font-family: $body-font;
}

.navbar-brand {
	font-family: $body-font;
}

.link-text:hover {
	color: rgba(236, 236, 236, 0.8);
	border-bottom: 2px solid white;
}

.work-body {
	background: white;
}

.card {
	transition: all 0.3s ease-in-out;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
	transform: translate(-0px, -5px);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}
